@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  color: rgba(253, 253, 253, 0.9921568627);
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 100;
}
header nav a {
  font-weight: 500;
  padding-right: 10px;
  margin-left: 15px;
}
header .logo-header img {
  height: 165px;
  width: 135px;
  margin-top: 70px;
  margin-left: -15px;
  align-items: center;
  border-radius: 5px;
}
header a {
  text-decoration: none;
  color: rgba(253, 253, 253, 0.9921568627);
}
header nav a:hover {
  color: #c00000;
}
header .productos {
  font-weight: 500;
  color: rgba(253, 253, 253, 0.9921568627);
  padding: 34px 15px;
  background-color: #c00000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
header .productos:hover {
  color: rgba(0, 0, 0, 0.9254901961);
}
header .dropdown {
  display: none;
}

@media screen and (max-width: 320px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    z-index: 100;
  }
  header nav a {
    display: none;
  }
  header .logo-header img {
    height: 140px;
    width: 123px;
    margin-top: -5px;
    margin-left: -278px;
    align-items: center;
    border-radius: 5px;
    height: 112px;
    width: 104px;
    margin-top: -5px;
    margin-left: -185px;
  }
  header a {
    text-decoration: none;
    color: rgba(253, 253, 253, 0.9921568627);
  }
  header nav a:hover {
    color: #c00000;
  }
  header .productos {
    font-weight: 500;
    color: rgba(253, 253, 253, 0.9921568627);
    padding: 34px 15px;
    background-color: #c00000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  header .productos:hover {
    color: rgba(0, 0, 0, 0.9254901961);
  }
  header .dropdown {
    display: inline-block;
    position: absolute;
    display: block;
    margin-left: 265px;
  }
}
/* footer-principal */
footer-1 {
  text-align: center;
  padding: 20px;
}
footer-1 .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-bottom: 40px;
}
footer-1 .redes a {
  margin: 0 30px;
}
footer-1 .redes img {
  width: 50px;
  height: 50px;
}
footer-1 .redes img:hover {
  transform: scale(1.1);
}

/* footer-general */
.container-footer {
  margin: 0 auto;
  height: 190px;
}

.footer {
  background-color: #212121;
  padding: 10px 0;
}

.logo-footer img {
  width: 130px;
  height: 130px;
  padding-left: 15px;
  padding-top: 20px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 60px;
  border-right: 2px solid rgba(253, 253, 253, 0.9921568627);
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #c00000;
  display: inline-block;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links p {
  margin-bottom: 10px;
  font-size: 13px;
}

.footer-links nav img {
  padding-bottom: 10px;
}

.footer-rigths {
  background-color: rgba(174, 174, 174, 0.9215686275);
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6862745098);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-rigths img {
  height: 10px;
  width: 10px;
  margin-right: 3px;
}

/* main */
.fondo-inicio {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Img/fondos/Fondo\ de\ Pagina\ Principal.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
.fondo-inicio main {
  text-align: left;
  padding-left: 30px;
  margin-top: 130px;
}
.fondo-inicio .informacion-inicio {
  font-size: 25px;
  padding-top: 60px;
}
.fondo-inicio .informacion-inicio h1 {
  font-size: 50px;
  padding-bottom: 8px;
}
.fondo-inicio .informacion-inicio h2 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: rgba(253, 253, 253, 0.9921568627);
  padding: 0px;
  padding-bottom: 20px;
}
.fondo-inicio .informacion-inicio h3 {
  font-size: 35px;
}
.fondo-inicio .contenedor-boton {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 30px;
  margin-right: 38px;
}
.fondo-inicio .boton {
  display: inline-block;
  text-decoration: none;
  padding: 15px 40px;
  background-color: #c00000;
  color: rgba(253, 253, 253, 0.9921568627);
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.fondo-inicio .boton a {
  text-decoration: none;
}
.fondo-inicio .boton:hover {
  background-color: #c00000;
  transform: scale(1.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

/* main */
.fondo-agenda {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/Img/fondos/fondo-agenda.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
}
.fondo-agenda .contenedor-agenda {
  padding-bottom: 30px;
  padding-top: 200px;
}
.fondo-agenda .titulo-agenda {
  margin-bottom: 20px;
  text-align: center;
  margin-top: -90px;
  font-size: 45px;
  padding-top: 20px;
}
.fondo-agenda .controls {
  width: 48%;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(253, 253, 253, 0.9921568627);
  font-family: sans-serif;
  font-size: 14px;
  color: rgba(253, 253, 253, 0.9921568627);
  text-align: left;
  margin-bottom: 20px;
}
.fondo-agenda .registro .controls:invalid {
  background: #c00000;
  border: none;
}
.fondo-agenda .imagen-linea-titulo {
  display: flex;
  justify-content: center;
  padding: 8px;
}
.fondo-agenda .imagen-linea-titulo img {
  width: 400px;
}
.fondo-agenda .registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 35px 60px;
  margin: auto;
}
.fondo-agenda .controls, .fondo-agenda .area, .fondo-agenda .registro .bottons {
  width: 35%;
  max-width: none;
  margin: 10px 0;
  margin-bottom: 20px;
  max-width: 50%;
}
.fondo-agenda .registro .bottons {
  width: auto;
  max-width: 200px;
  padding: 12px;
  color: rgba(253, 253, 253, 0.9921568627);
  background-color: #c00000;
  margin: 16px 0px;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
}
.fondo-agenda .registro h3.modificado {
  font-size: 50px;
  margin-bottom: 37px;
  text-align: center;
  color: rgba(253, 253, 253, 0.9921568627);
}
.fondo-agenda .registro h4 {
  color: rgba(253, 253, 253, 0.9921568627);
}
.fondo-agenda .registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}
.fondo-agenda .asterisco {
  color: #c00000;
}
.fondo-agenda .contenedor-mensaje {
  text-align: left;
  width: 80%;
  max-width: 400px;
  margin: 20px 0;
  margin-left: 810px;
  margin-top: -295px;
}
.fondo-agenda .titulo-de-mensaje {
  padding-bottom: 10px;
}
.fondo-agenda .mensaje {
  resize: none;
  width: 570px;
  height: 210px;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(253, 253, 253, 0.9921568627);
  font-family: sans-serif;
  font-size: 14px;
  color: rgba(253, 253, 253, 0.9921568627);
  margin-bottom: 16px;
  text-align: left;
  margin-bottom: 20px;
  max-width: 100%;
}
.fondo-agenda .contenedor-boton-agenda {
  text-align: left;
  margin-top: 10px;
  margin-right: 38px;
  margin-left: 59px;
  margin-bottom: 85px;
}
.fondo-agenda .boton-agenda {
  display: inline-block;
  padding: 15px 40px;
  background-color: #c00000;
  color: rgba(253, 253, 253, 0.9921568627);
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.fondo-agenda .boton-agenda a {
  text-decoration: none;
  color: rgba(253, 253, 253, 0.9921568627);
}
.fondo-agenda .boton-agenda:hover {
  background-color: #c00000;
  transform: scale(1.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

/* main */
.fondo-agr {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/Img/fondos/fondo-agenda.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.texto-10 {
  font-size: 60px;
  padding-top: 200px;
  color: rgba(253, 253, 253, 0.9921568627);
  text-align: center;
}

.texto-20 {
  font-size: 25px;
  color: #c00000;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 260px;
}

/* main */
.titulo-productos {
  color: rgba(0, 0, 0, 0.9254901961);
  display: flex;
  justify-content: center;
  padding-top: 120px;
  margin-bottom: 15px;
  font-size: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.hijos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: rgba(0, 0, 0, 0.9254901961) 1px solid;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin: 40px;
}

.hijos img {
  height: 200px;
  width: 120px;
  padding-top: 30px;
}

.hijos p, h2 {
  color: rgba(0, 0, 0, 0.9254901961);
  font-size: 15px;
  padding-top: 20px;
  padding-left: 20px;
}

.hijos h2 {
  font-size: 20px;
  padding-bottom: 30px;
}

.mensaje-final {
  color: rgba(0, 0, 0, 0.9254901961);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .titulo-productos {
    padding-top: 105px;
    margin-bottom: 0px;
    font-size: 33px;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
    margin-left: -22px;
  }
  .hijos {
    width: 166px;
    height: 328px;
  }
  .hijos img {
    height: 200px;
    width: 120px;
    padding-top: 30px;
  }
  .hijos p, h2 {
    color: rgba(0, 0, 0, 0.9254901961);
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
  }
  .hijos h2 {
    font-size: 20px;
    padding-bottom: 30px;
  }
  .mensaje-final {
    color: rgba(0, 0, 0, 0.9254901961);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  .titulo-productos {
    padding-top: 168px;
    margin-bottom: 3px;
    font-size: 23px;
    margin-left: 88px;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    margin-left: -9px;
  }
  .hijos {
    margin-left: 2px;
    margin-right: 20px;
  }
  .mensaje-final {
    font-size: 8px;
    padding-bottom: 0px;
    margin-left: 60px;
  }
  .footer {
    margin-top: 60px;
  }
  .logo-footer img {
    width: 120px;
    height: 120px;
    padding-left: 15px;
    margin-top: 10px;
  }
  .footer-links h4 {
    font-size: 15px;
    margin-bottom: 13px;
  }
  .footer-links p {
    margin-bottom: 10px;
    font-size: 10px;
  }
}
.fondo-servicio {
  background-color: rgba(253, 253, 253, 0.9921568627);
}

.contenedor-servicios-titulo {
  text-align: center;
  justify-content: center;
  margin-top: 115px;
  font-size: 40px;
}

.contenedor-servicios-titulo h1 {
  color: rgba(0, 0, 0, 0.9254901961);
  font-weight: bold;
}

.carrusel-contenedor {
  width: 100%;
  margin-top: 30px;
}

.titulo-servicio1 {
  margin-top: 75px;
  margin-left: 40px;
}

.texto-4 {
  color: rgba(0, 0, 0, 0.9254901961);
}

.informacion-servicio {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

.texto-5 {
  color: rgba(0, 0, 0, 0.9254901961);
}

.precio-servicio {
  position: absolute;
  margin-left: 939px;
  margin-top: -190px;
}

.precio-servicio img {
  height: 250px;
  width: 290px;
}

.agenda-tu-visita-servicio {
  text-align: left;
  margin-top: 27px;
  margin-right: 38px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c00000;
  color: rgba(253, 253, 253, 0.9921568627);
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.boton a {
  text-decoration: none;
  font-size: 15px;
  color: rgba(253, 253, 253, 0.9921568627);
}

.boton:hover {
  background-color: #c00000;
  transform: scale(1.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.titulo-servicio2 {
  margin-top: 102px;
  margin-left: 685px;
}

.texto-94 {
  color: rgba(0, 0, 0, 0.9254901961);
}

.informacion-servicio2 {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 685px;
}

.texto-95 {
  color: rgba(0, 0, 0, 0.9254901961);
}

.precio-servicio2 {
  position: absolute;
  margin-left: 48px;
  margin-top: -124px;
}

.precio-servicio2 img {
  height: 250px;
  width: 290px;
}

.agenda-tu-visita-servicio2 {
  text-align: left;
  margin-top: 27px;
  margin-right: 38px;
  margin-left: 685px;
  margin-bottom: 15px;
}

.precio-servicio21 {
  position: absolute;
  margin-left: 50px;
  margin-top: -183px;
}

.precio-servicio21 img {
  height: 250px;
  width: 290px;
}

.precio-servicio22 {
  position: absolute;
  margin-left: 45px;
  margin-top: -212px;
}

.precio-servicio22 img {
  height: 250px;
  width: 290px;
}

.precio-servicio23 {
  position: absolute;
  margin-left: 939px;
  margin-top: -200px;
}

.precio-servicio23 img {
  height: 250px;
  width: 290px;
}

.precio-servicio24 {
  position: absolute;
  margin-left: 939px;
  margin-top: -202px;
}

.precio-servicio24 img {
  height: 250px;
  width: 290px;
}

.precio-servicio25 {
  position: absolute;
  margin-left: 39px;
  margin-top: -148px;
}

.precio-servicio25 img {
  height: 250px;
  width: 290px;
}

.trapecio-derecho {
  position: absolute;
  margin-left: 664px;
  margin-top: 43px;
}

.trapecio-derecho img {
  height: 380px;
}

.trapecio-izquierdo {
  position: absolute;
  margin-top: -5px;
}

.trapecio-izquierdo img {
  height: 380px;
}

.footer {
  margin-top: 60px;
}

.container-footer {
  margin: 0 auto;
  height: 205px;
}

.contenedor-promo-titulo {
  text-align: center;
  justify-content: center;
  margin-top: 115px;
}

.contenedor-promo-titulo h1 {
  color: rgba(0, 0, 0, 0.9254901961);
  font-weight: bold;
  font-size: 40px;
}

.carrusel-contenedor-promo {
  width: 100%;
  margin-top: 30px;
}

.titulo-promo-servicios {
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.titulo-promo-servicios h2 {
  color: rgba(0, 0, 0, 0.9254901961);
  font-weight: bold;
  font-size: 40px;
}

.contenedor-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 70px;
}

.item img {
  width: 235px;
  height: 300px;
  margin-bottom: 70px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.item:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

/* Pagina de Inicio */
@media screen and (max-width: 768px) {
  header {
    height: 75px;
    padding: 5px;
  }
  .logo-header img {
    height: 145px;
    width: 115px;
    margin-left: 13px;
  }
  nav a {
    font-weight: 450;
    font-size: 15px;
    margin-left: 8px;
  }
  .productos {
    font-weight: 450;
    padding: 29px 8px;
  }
  .fondo-inicio {
    background-size: 800px 540px;
  }
  main {
    padding-left: 35px;
  }
  .informacion-inicio {
    padding-top: 60px;
  }
  .informacion-inicio h1 {
    font-size: 34px;
  }
  .informacion-inicio h2 {
    font-size: 34px;
  }
  .informacion-inicio h3 {
    font-size: 25px;
  }
  .contenedor-boton {
    margin-top: 55px;
  }
  .boton {
    padding: 12px 36px;
    font-size: 13px;
  }
  .redes {
    height: 30px;
  }
  .redes a {
    margin: 0 26px;
  }
  .redes img {
    width: 41px;
    height: 41px;
  }
}
@media screen and (max-width: 320px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    height: auto;
  }
  .logo-header img {
    height: auto;
    width: 70px;
    margin-top: -10px;
    margin-left: -140;
  }
  nav {
    margin-top: 5px;
    text-align: center;
  }
  nav a {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    line-height: 30px;
  }
  .dropdown {
    position: absolute;
    display: block;
    margin-left: 188px;
  }
  .productos {
    padding: 8px;
  }
  .fondo-inicio {
    background-size: 400px 520px;
  }
  main {
    padding-left: 20px;
  }
  .informacion-inicio {
    font-size: 25px;
    padding-top: 165px;
  }
  .informacion-inicio h1 {
    font-size: 17px;
  }
  .informacion-inicio h2 {
    font-size: 19px;
    padding-bottom: 15px;
  }
  .informacion-inicio h3 {
    font-size: 14px;
  }
  .contenedor-boton {
    padding-bottom: 40px;
    margin-top: 60px;
    margin-left: 15px;
  }
  .boton {
    padding: 10px 20px;
    font-size: 11px;
  }
  .redes {
    height: 30px;
  }
  .redes a {
    margin: 0 20px;
  }
  .redes img {
    width: 35px;
    height: 35px;
  }
}
/* Pagina de Contactos */
@media screen and (max-width: 768px) {
  .fondo-agenda {
    background-size: 800px 640px;
  }
  .controls {
    padding: 5px;
    font-size: 15px;
  }
  .titulo-agenda {
    font-size: 40px;
  }
  .imagen-linea-titulo {
    padding: 8px;
  }
  .imagen-linea-titulo img {
    width: 300px;
  }
  .registro {
    padding: 35px 10px;
  }
  .controls, .area, .registro .bottons {
    width: 36%;
    margin-bottom: 20px;
  }
  .registro .bottons {
    padding: 12px;
  }
  .registro h3.modificado {
    font-size: 50px;
    margin-bottom: 37px;
  }
  .registro p {
    height: 10px;
    font-size: 18px;
  }
  .contenedor-mensaje {
    max-width: 250px;
    margin-left: 440px;
    margin-top: -270px;
  }
  .mensaje {
    height: 185px;
  }
  .titulo-de-mensaje {
    padding-bottom: 10px;
  }
  .contenedor-boton-agenda {
    margin-right: 38px;
    margin-left: 11px;
  }
  .boton-agenda {
    padding: 10px 20px;
    font-size: 14px;
  }
  .logo-footer img {
    width: 120px;
    height: 120px;
    padding-left: 15px;
    margin-top: 10px;
  }
  .footer-links h4 {
    font-size: 15px;
    margin-bottom: 13px;
  }
  .footer-links p {
    margin-bottom: 10px;
    font-size: 10px;
  }
}
@media screen and (max-width: 320px) {
  .fondo-agenda {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/Img/fondos/fondo-agenda.webp);
    background-size: 520px 1024px;
    background-repeat: no-repeat;
    height: 110vh;
  }
  main {
    margin-top: 40px;
  }
  .contenedor-agenda {
    padding-bottom: 30px;
    overflow: hidden;
    margin-right: -87px;
  }
  .titulo-agenda {
    margin-top: -21px;
    font-size: 35px;
  }
  .imagen-linea-titulo {
    padding: 8px;
    margin-top: -20px;
  }
  .imagen-linea-titulo img {
    width: 250px;
  }
  .controls {
    width: 48%;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .registro {
    padding: 38px 0px;
    margin-top: -18px;
    margin-right: -83px;
  }
  .controls, .area, .registro .bottons {
    width: 900px;
    margin: 10px 0;
    margin-bottom: 20px;
    max-width: 50%;
    margin-left: 75px;
  }
  .registro .bottons {
    max-width: 200px;
    padding: 12px;
    margin: 16px 0px;
    font-size: 16px;
    overflow: hidden;
  }
  .registro h3.modificado {
    font-size: 50px;
    margin-bottom: 37px;
  }
  .registro h4 {
    font-size: 13px;
  }
  .registro p {
    height: 40px;
    font-size: 18px;
  }
  .contenedor-mensaje {
    margin-left: 82px;
    margin-top: -46px;
  }
  .mensaje {
    width: 220px;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .titulo-de-mensaje {
    padding-bottom: 10px;
    font-size: 13px;
  }
  .contenedor-boton-agenda {
    margin-top: -20px;
    margin-right: 38px;
    margin-left: 147px;
    margin-bottom: 11px;
  }
  .boton-agenda {
    padding: 9px 21px;
    font-size: 13px;
  }
  .footer {
    height: 100%;
    margin-right: -90px;
    overflow: hidden;
  }
  .container-footer {
    margin: 0 auto;
    padding: 10px;
  }
  .logo-footer img {
    width: 100px;
    height: auto;
    margin-top: -30px;
    margin-right: 200px;
    margin-bottom: 10px;
    margin-left: 148px;
    border-right: none;
    border-bottom: 1px solid white;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 33px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-links h4 {
    font-size: 13px;
    margin-bottom: 7px;
  }
  .footer-links p {
    margin-bottom: 4px;
    font-size: 9px;
  }
  .footer-links nav {
    margin-top: 5px;
    text-align: center;
    display: flex;
  }
  .footer-links nav img {
    width: 20px;
    height: auto;
    margin-right: -2px;
  }
  .footer-rigths {
    font-size: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
