@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
$color-fuente:#fdfdfdfd;
$color-fuente2:#000000ec;
$background-color:#212121;
$color-boton:#c00000;


body{
    color: $color-fuente;
    font-family: "Roboto", sans-serif;
    
}

header{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 300px;
}

.nav-wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.647);
    padding: 5px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 20px;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav ul :hover{
    color: #C00000;
}

nav #toggle, nav label{
    display: none;
}

.logo img{
    width: 112px;
    height: 118px;
    border-radius: 10px;
}

.productos {
font-weight: 500;
color: $color-fuente;
padding: 34px 15px;
background-color: $color-boton;
border: none;
border-radius: 10px;
cursor: pointer;
}   

.productos:hover {
color: #000000ec;
}

@media (max-width:40.625em){
    nav .menu{
        width:100%;
        height: 0;
        overflow: hidden;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0 ;
    }
    nav label{
        display: inline-flex;
        color: $color-fuente;
        cursor: pointer;
    }
    nav #toggle:checked ~ .menu{
        height: 100%;
    }
}

/* footer-principal */
footer-1 {
    text-align: center;
    padding: 20px;

    .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-bottom: 40px;
    margin-top: -95px;
    position: relative;
    z-index: 2;
    gap: 30px;
    }

    .redes a {
    margin: 0 30px;
    }

    .redes img {
    width: 50px;
    height: 50px;
    }

    .redes img:hover {
    transform: scale(1.1);
    }
}

/* footer-general */
.container-footer {
    margin: 0 auto;
    height: 190px;
}

.footer {
    background-color:$background-color;
    padding: 10px 0;
}

.logo-footer img{
    width: 130px;
    height: 130px;
    padding-left: 15px;
    padding-top: 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 60px;
    border-right: 2px solid $color-fuente;
}

.footer-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #c00000;
    display: inline-block;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links p {
    margin-bottom: 10px;
    font-size: 13px;
}

.footer-links nav img {
    padding-bottom: 10px;
}

.footer-rigths {
    background-color: #aeaeaeeb;
    font-size: 11px;
    color: #000000af;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-rigths img {
    height: 10px;
    width: 10px;
    margin-right: 3px;
}

@media (max-width:40.625em){
    .container-footer {
        margin: -347 auto;
        height: 190px;
    }
    
    .footer {
        background-color:$background-color;
        padding: 350px 0;
        overflow: visible;
    }
    
    .logo-footer img{
        width: 130px;
        height: 130px;
        padding-left: 15px;
        padding-top: 20px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 60px;
        border-right: 2px solid $color-fuente;
    }
    
    .footer-row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .footer-links {
        width: 25%;
        padding: 0 15px;
    }
    
    .footer-links h4{
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 25px;
        font-weight: 500;
        border-bottom: 2px solid #c00000;
        display: inline-block;
        padding-bottom: 10px;
        display: inline-block;
    }
    
    .footer-links p {
        margin-bottom: 10px;
        font-size: 13px;
    }
    
    .footer-links nav img {
        padding-bottom: 10px;
    }
    
    .footer-rigths {
        background-color: #aeaeaeeb;
        font-size: 11px;
        color: #000000af;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-rigths img {
        height: 10px;
        width: 10px;
        margin-right: 3px;
    }
}


@media screen and (max-width: 768px){
    .footer {
    width: 168%;
    }
}
