/* Pagina de Inicio */
@media screen and (max-width: 768px) {

    header{
        height: 75px;
        padding: 5px;
    }
    
    .logo-header img{
        height: 145px;
        height: 93px;
        width: 83px;
        margin-left: 13px;
    }
    
    nav a{
        font-weight: 450;
        font-size: 12px;
        margin-left: 8px;
    }

    nav ul{
        gap: 10px;
    }
    .productos {
        font-weight: 450;
        padding: 29px 8px;
    }

    .fondo-inicio{
        background-size: 800px 540px;
    }

    
    main {
        padding-left: 35px;
        margin-top: 93px; 
    }
    
    .informacion-inicio {
        padding-top: 196px;
    }
    
    .informacion-inicio h1{
        font-size: 28px;
        color: rgb(255, 255, 255);
    }
    .informacion-inicio h2 {
        font-size: 36px;
        padding-left: 0px;
        color: rgb(255, 255, 255);
    }
    
    .informacion-inicio h3 {
        font-size: 25px;
        color: rgb(255, 255, 255);
    }
    
    .contenedor-boton {
        margin-top: 22px;
        margin-left: 11px;
    }
    
    .boton {
        padding: 10px 25px;
        font-size: 13px;
    }

    .redes {
        height: 30px;
    }
    
    .redes a {
        margin: 0 26px;
    }
    
    .redes img {
        width: 41px; 
        height: 41px;
    }
}

@media screen and (max-width: 320px){
    
    header {
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px;
        height: auto;
    }

    .logo-header img {
        height: auto;
        width: 70px;
        margin-top: -10px;
        margin-left: -140;
    }

    nav {
        margin-top: 5px;
        text-align: center;
    }

    nav a {
        margin: 5px;
        padding: 5px;
        font-size: 12px;
        line-height: 30px;
    }

    .dropdown{
        position: absolute;
        display: block;
        margin-left: 188px;
    }

    .productos {
        padding: 8px;
    }

    .fondo-inicio{
        background-size: 400px 520px;
    }
    
    main {
        padding-left: 20px;
    }
    
    .informacion-inicio {
        font-size: 25px;
        padding-top: 165px;
    }
    
    .informacion-inicio h1{
        font-size: 17px;
    }
    .informacion-inicio h2 {
        font-size: 19px;
        padding-bottom: 15px;
    }
    
    .informacion-inicio h3 {
        font-size: 14px;
    }
    
    .contenedor-boton {
        padding-bottom: 40px;
        margin-top: 60px;
        margin-left: 15px;
    }
    
    .boton {
        padding: 6px 13px;
        font-size: 11px;
    }

    .redes {
        height: 30px;
    }
    
    .redes a {
        margin: 0 20px;
    }
    
    .redes img {
        width: 30px; 
        height: 30px;
    }

}

/* Pagina de Contactos */
@media screen and (max-width: 768px){
    .fondo-agr{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)
        )
        ,url(../assets/Img/fondos/fondo-agenda.webp);
        background-size: cover;
        background-repeat: no-repeat;
        height: 984px;
    }

    .contenedor-agenda {
        padding-bottom: 30px;
        padding-top: 300px;
        width: 142%;
        }
    
    .fondo-agenda{
        background-size: 800px 640px;
    }
    
    .controls {
        padding: 5px;
        font-size: 15px; 
    }
    
    .titulo-agenda {
        font-size: 40px;
    }
    
    .imagen-linea-titulo {
        padding: 8px;
    }
    
    .imagen-linea-titulo img {
        width: 300px;
    }
    
    .registro {
        padding: 35px 10px;
    }
    
    .controls, .area, .registro .bottons {
        width: 36%;  
        margin-bottom: 20px;
    }
    
    .registro .bottons { 
        padding: 12px;
    }
    
    .registro h3.modificado {
        font-size: 50px;
        margin-bottom: 37px;
    }
    
    .registro p{
        height: 10px;
        font-size: 18px;
    }
    
    .contenedor-mensaje {
        max-width: 317px;
        margin-left: 669px;
        margin-top: -270px;
    }
    
    .mensaje {
        height: 185px;
    }
    
    .titulo-de-mensaje {
        padding-bottom: 10px;
    }
    
    .contenedor-boton-agenda{
            margin-right: 38px;
            margin-left: 11px;
    }
    
    .boton-agenda {
        padding: 10px 20px;
        font-size: 14px;
    }
    
    .logo-footer img{
        width: 120px;
        height: 120px;
        padding-left: 15px;
        margin-top: 10px;
    }

    .footer-links h4{
        font-size: 15px;
        margin-bottom: 13px;
    }
    
    .footer-links p {
        margin-bottom: 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    .fondo-agr{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)
        )
        ,url(../assets/Img/fondos/fondo-agenda.webp);
        background-size: cover;
        background-repeat: no-repeat;
        height: 875px;
    }

    main {
        margin-top: 70px;
    }
    
    .contenedor-agenda {
        padding-bottom: 30px;
        overflow: hidden;
        margin-right: -87px;
    }
    
    .titulo-agenda {
        margin-top: -21px;
        font-size: 35px;

    }
    
    .imagen-linea-titulo {
        padding: 8px;
        margin-top: -20px;
    }
    
    .imagen-linea-titulo img {
        width: 250px;
    }
    
    .controls {
        width: 48%; 
        padding: 5px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .registro {
        padding: 38px 0px;
        margin-top: -18px;
        margin-right: -83px;
    }
    
    .controls, .area, .registro .bottons {
        width: 900px;
        margin: 10px 0; 
        margin-bottom: 20px;
        max-width: 50%;
        margin-left: 75px;
    }
    
    .registro .bottons { 
        max-width: 200px; 
        padding: 12px;
        margin: 16px 0px;
        font-size: 16px;
        overflow: hidden;
    }
    
    .registro h3.modificado {
        font-size: 50px;
        margin-bottom: 37px;
    }
    
    .registro h4{
        font-size: 13px;
    }
    
    .registro p{
        height: 40px;
        font-size: 18px;
    }
    
    .contenedor-mensaje {
        margin-left: 82px;
        margin-top: -46px;
    }
    
    .mensaje {
        width: 220px;
        height: 100px;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 20px;
        max-width: 100%;
    }
    
    .titulo-de-mensaje {
        padding-bottom: 10px;
        font-size: 13px;
    }
    
    .contenedor-boton-agenda{
            margin-top: -20px;
            margin-right: 38px;
            margin-left: 147px;
            margin-bottom: 11px
    }
    
    .boton-agenda {
        padding: 9px 21px;
        font-size: 13px;
    }
    
    .footer {
        height: 100%;
        margin-right: -90px;
        overflow: hidden;
    }
    
    .container-footer {
        margin: 0 auto;
        padding: 10px;
    }
    
    .logo-footer img {
        width: 100px;
        height: auto;
        margin-top: -30px;
        margin-right: 200px;
        margin-bottom: 10px;
        margin-left: 148px;
        border-right: none;
        border-bottom: 1px solid white;

    }
    
    .footer-links {
        width: 100%;
        margin-bottom: 33px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer-links h4 {
        font-size: 13px;
        margin-bottom: 7px;
    }
    
    .footer-links p {
        margin-bottom: 4px;
        font-size: 9px;
    }
    
    .footer-links nav {
        margin-top: 5px;
        text-align: center;
        display: flex;
    }

    .footer-links nav img {
        width: 20px;
        height: auto;
        margin-right: -2px;
    }

    
    .footer-rigths {
        font-size: 10px;
    }
}


// Pagina de productos
@media screen and (max-width: 768px) {
    .titulo-productos {
        padding-top: 105px;
        margin-bottom: 0px;
        font-size: 33px;
        margin-left: 282px;
        width: 100%;
    }
    
    .container {
        grid-template-columns: repeat(3, 1fr);
        margin-left: -22px;
        margin-left: 273px;
    }
    
    .hijos {
        width: 158px;
        height: 300px;
    }
    
    .hijos img {
        height: 165px;
        width: 105px;
        padding-top: 30px;
    }
    
    .hijos p, h2 {
        color: #000000ec;
        font-size: 13px;
        padding-top: 20px;
        padding-left: 13px;
    }
    
    .hijos h2 {
        font-size: 20px;
        padding-bottom: 30px;
    }
    
    .mensaje-final {
        color: rgba(0, 0, 0, 0.9254901961);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        padding-bottom: 5px;
        margin-left: 277px;
        width: 100%;
    }

    .imagen-precio-productos p{
        font-size: 20px;
        font-weight: 500;
        color: $color-fuente;
        margin-left: 39px;
        margin-top: -5px;
    }

}

@media screen and (max-width: 320px) {
    .titulo-productos {
        padding-top: 168px;
        margin-bottom: 3px;
        font-size: 23px;
        margin-left: 88px;
    }
    
    .container {
        grid-template-columns: repeat(2, 1fr);
        margin-left: -9px;
    }
        .hijos {
        margin-left: 2px;
        margin-right: 20px;
        width: 171px;
    }   
    
    .mensaje-final {
        font-size: 8px;
        padding-bottom: 0px;
        margin-left: 60px;
    }

    .footer{
        margin-top: 60px;
    }
    
    .logo-footer img{
        width: 120px;
        height: 120px;
        padding-left: 15px;
        margin-top: 10px;
    }

    .footer-links h4{
        font-size: 15px;
        margin-bottom: 13px;
    }
    
    .footer-links p {
        margin-bottom: 10px;
        font-size: 10px;
    }
}

// Pagina de Servicios
@media screen and (max-width: 768px){
    .carrusel-contenedor{
        width: 176%;
        margin-top: 211px;
        margin-left: -30px;
    }

    .servicio1{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin-top: 16px;
    }
    
    .servicio1 h1{
        font-size: 36px;
        font-weight: 500px;
        color: black;
    }
    
    .servicio1 p{
        font-size: 21px;
        color: black;
    
    }
    
    .imagenes{
        display: flex;
    }
    
    .imagenes1 img{
        height: 380px;
    }
    
    .fondo{
        z-index: 10;
    }
    
    .fondo img{
        position: absolute;
    }
    
    .contenedor-servicio2{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    
    }
    .servicio2{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin-top: 25px;
    }
    
    .servicio2 h1{
        font-size: 36px;
        font-weight: 500px;
        color: black;
    }
    
    .servicio2 p{
        font-size: 21px;
        color: black;
        margin-top: 24px;
        margin-bottom: 25px;
    
    }
    
    .imagenes{
        display: flex;
    }
    
    .imagenes2 img{
        height: 265px;
        position: relative;
    }
    
    .fondo{
        z-index: 10;
    }
    
    .fondo img{
        position: absolute;
    }
    
    
    .precios-1{
        border: 1px solid black;
        width: 38%;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        margin-top: -353px;
        margin-left: 260px;
        background: #000000cc;
        height: 233px;
    }
    
    .precios-1 h2{
        border-bottom: 2px solid #c00000;
        font-weight: 400;
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
    }
    
    .precios-1 p{
        border-bottom: 1px solid gray;
        color: rgb(255, 255, 255);
        margin-bottom: 25px;
    }
    
    .precios-2{
        border: 1px solid black;
        width: 38%;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        margin-top: -249px;
        margin-left: 15px;
        background: rgba(0, 0, 0, 0.8);
        height: 233px;
    }
    
    .precios-2 h2{
        border-bottom: 2px solid #c00000;
        font-weight: 400;
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
    }
    
    .precios-2 p{
        border-bottom: 1px solid gray;
        color: rgb(255, 255, 255);
        margin-bottom: 25px;
    }
    
    .color-precio{
        color: #c00000;
    }
}

@media screen and (max-width: 320px){
    .carrusel-contenedor{
        width: 411%;
        margin-top: 200px;
        margin-left: 6px;
    }

    .contenedor-boton-servicios{
        padding: 6px auto;
    }
    
    .contenedor-servicio1{
        display: flex;
        justify-content: space-between;
    }
    .servicio1{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin-top: 51px;
        padding-left: 20px;
    }
    
    .servicio1 h1{
        font-size: 53px;
        font-weight: 500px;
    }
    
    .servicio1 p{
        font-size: 39px;
        margin-top: 25px;
        margin-bottom: 41px;
    
    }
    
    .imagenes{
        display: flex;
    }
    
    .imagenes1 img{
        height: 380px;
        position: relative;
        display: none;
    }
    
    .contenedor-servicio1{
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
    }
    .servicio1{
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }
    
    .servicio1 h1{
        font-size: 53px;
        font-weight: 500px;
        color: black;
    }
    
    .servicio1 p{
        font-size: 39px;
        color: black;
    
    }
    
    .imagenes{
        display: flex;
    }
    
    .imagenes1 img{
        height: 380px;
        margin-top: 118px;
        display: none;
    }
    
    .fondo{
        z-index: 10;
    }
    
    .fondo img{
        position: absolute;
    }
    
    .contenedor-servicio2{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    
    }
    .servicio2{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin-top: 25px;
    }
    
    .servicio2 h1{
        font-size: 53px;
        font-weight: 500px;
        color: black;
    }
    
    .servicio2 p{
        font-size: 39px;
        color: black;
        margin-top: 24px;
        margin-bottom: 25px;
    
    }
    
    .imagenes{
        display: flex;
    }
    
    .imagenes2 img{
        height: 265px;
        position: relative;
        margin-top: 118px;
        display: none;
    }
    
    .fondo{
        z-index: 10;
    }
    
    .fondo img{
        position: absolute;
    }
    
    
    .precios-1{
        border: 1px solid black;
        width: 152%;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        margin-top: 71px;
        margin-left: -536px;
        background: rgba(0, 0, 0, 0.8);
        height: 429px;
    }
    
    .precios-1 h2{
        border-bottom: 2px solid #c00000;
        font-weight: 400;
        font-size: 43px;
        color: white;
        margin-bottom: 20px;
    }
    
    .precios-1 p{
        border-bottom: 1px solid gray;
        color: rgb(255, 255, 255);
        margin-bottom: 25px;
        font-size: 29px;
    }
    
    .precios-2{
        border: 1px solid black;
        width: 152%;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        margin-top: 93px;
        margin-left: 16px;
        background: rgba(0, 0, 0, 0.8);
        height: 429px;
    }
    
    .precios-2 h2{
        border-bottom: 2px solid #c00000;
        font-weight: 400;
        font-size: 43px;
        color: white;
        margin-bottom: 20px;
    }
    
    .precios-2 p{
        border-bottom: 1px solid gray;
        color: rgb(255, 255, 255);
        margin-bottom: 25px;
        font-size: 29px;
    }
    
}

// Pagina de Promociones
@media screen and (max-width: 768px){
    .carrusel-contenedor-promo{
        width: 174%;
        margin-top: 215px;
        margin-left: -28px;
    }

    .carrusel-contenedor-promo2{
        width: 174%;
        margin-top: 10px;
        margin-left: -28px;
    }

    .contenedor-items{
        grid-template-columns: repeat(3, 1fr);
        margin-left: 176px;
        margin-top: 75px;
    }

    .item img{
        margin-right: 75px;
    }
}

@media screen and (max-width: 320px){
    .carrusel-contenedor-promo{
        width: 324%;
        margin-top: 269px;
        margin-left: 3px;
    }
    
    .carrusel-contenedor-promo2{
        width: 327%;
        margin-top: -20px;
        margin-left: -11px;
    }
    
    .titulo-promo-servicios{
        text-align: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    .titulo-promo-servicios h2{
        color: $color-fuente2;
        font-weight: bold;
        font-size: 40px;
    }
    
    .contenedor-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 133px;
        margin-top: 110px;
    }
    
    .item img{
        width: 685px;
        height: 890px;
        margin-bottom: 115px;
    }
}

// Pagina de Agradecimiento
@media screen and (max-width: 768px){
    .fondo-agr{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)
        )
        ,url(../assets/Img/fondos/fondo-agenda.webp);
        background-size: cover;
        background-repeat: no-repeat;
        height: 885px;
    }
    
    .texto-10 {
        font-size: 60px;
        padding-top: 260px;
        color: $color-fuente;
        text-align: center;
        width: 170%;
    }
    
    .texto-20 {
        font-size: 25px;
        color: $color-boton;
        text-align: center;
        padding-top: 50px;
        margin-bottom: 260px;
        width: 170%;
    }
}

@media screen and (max-width: 320px){

}