/* main */
.titulo-productos {
    color:  #000000ec;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    margin-bottom: 15px;
    font-size: 40px;
}

.container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

.hijos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #0000007a 1px solid;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 40px;
}

.hijos img {
    height: 200px;
    width: 120px;
    padding-top: 30px;
}

.hijos p, h2 {
    color: #000000ec;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.hijos h2 {
    font-size: 20px;
    padding-bottom: 30px;
}

.mensaje-final {
    color: #000000ec;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-bottom: 30px;
}









@media screen and (max-width: 768px) {
    .titulo-productos {
        padding-top: 105px;
        margin-bottom: 0px;
        font-size: 33px;
    }
    
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .hijos {
        width: 166px;
        height: 328px;
    }
    
    .hijos img {
        height: 200px;
        width: 120px;
        padding-top: 30px;
    }
    
    .hijos p, h2 {
        color: #000000ec;
        font-size: 15px;
        padding-top: 20px;
        padding-left: 20px;
    }
    
    .hijos h2 {
        font-size: 20px;
        padding-bottom: 30px;
    }
    
    .mensaje-final {
        color: #000000ec;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding-bottom: 30px;
    }
}