/* -------------------------------------------------------------------------- */
/*                            PAGINA DE PROMOCIONES                           */
/* -------------------------------------------------------------------------- */
/* main */
.fondo-promocion1 {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../assets/Img/promociones/pagina-servicio-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.titulo-promocion1 {
    color: #fffffff0;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

.informacion-promocion {
    display: flex;
    flex-direction: column;
    color: #fffffff0;
    font-size: 24px;
    font-weight: 300;
    padding-left: 20px;
    padding-top: 15px;
}

.precio-promocion{
    margin-left: 50px;
    padding-bottom: 100px;
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
    margin-left: 770px;
    margin-top: -260px;
}

.precio-promocion img {
    height: 390px;
    width: 380px;
}

.agenda-tu-visita-promocion{
    padding-top: 80px;
    padding-left: 22px;
    
}