$color-fuente:#fdfdfdfd;
$color-fuente2:#000000ec;
$background-color:#212121;
$color-boton:#c00000;

.fondo-servicio{
    background-color:$color-fuente;
}

.contenedor-servicios-titulo{
    text-align: center;
    justify-content: center;
    margin-top: 115px;
    font-size: 40px;
}

.contenedor-servicios-titulo h1{
    color: $color-fuente2;
    font-weight: bold;
}

.carrusel-contenedor{
    width: 100%;
    margin-top: 30px;
}

.titulo-servicio1{
    margin-top: 75px;
    margin-left: 40px;
}
.texto-4{
    color: $color-fuente2;
}

.informacion-servicio{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;

}
.texto-5{
    color: $color-fuente2;
}

.precio-servicio{
    position: absolute;
    margin-left: 939px;
    margin-top: -190px;
}
.precio-servicio img{
    height: 250px;
    width: 290px;
}


.agenda-tu-visita-servicio{
    text-align: left;
    margin-top: 27px;
    margin-right: 38px;
    margin-left: 40px;
    margin-bottom: 15px;
}
    
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: $color-boton;
    color: $color-fuente;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.boton a { 
    text-decoration: none;
    font-size: 15px;
    color: $color-fuente;
    }
    
.boton:hover {
    background-color: $color-boton;
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.titulo-servicio2{
    margin-top: 102px;
    margin-left: 685px;
}
.texto-94{
    color: $color-fuente2;
}

.informacion-servicio2{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 685px;

}
.texto-95{
    color: $color-fuente2;
}

.precio-servicio2{
    position: absolute;
    margin-left: 48px;
    margin-top: -124px;
}
.precio-servicio2 img{
    height: 250px;
    width: 290px;
}

    
.agenda-tu-visita-servicio2{
    text-align: left;
    margin-top: 27px;
    margin-right: 38px;
    margin-left: 685px;
    margin-bottom: 15px;
}

.precio-servicio21{
    position: absolute;
    margin-left: 50px;
    margin-top: -183px;
}
.precio-servicio21 img{
    height: 250px;
    width: 290px;
}

.precio-servicio22{
    position: absolute;
    margin-left: 45px;
    margin-top: -212px;
}
.precio-servicio22 img{
    height: 250px;
    width: 290px;
}

.precio-servicio23{
    position: absolute;
    margin-left: 939px;
    margin-top: -200px;
}
.precio-servicio23 img{
    height: 250px;
    width: 290px;
}

.precio-servicio24{
    position: absolute;
    margin-left: 939px;
    margin-top: -202px;
}
.precio-servicio24 img{
    height: 250px;
    width: 290px;
}

.precio-servicio25{
    position: absolute;
    margin-left: 39px;
    margin-top: -148px;
}
.precio-servicio25 img{
    height: 250px;
    width: 290px;
}


.trapecio-derecho{
    position: absolute;
    margin-left: 664px;
    margin-top: 43px;
}
.trapecio-derecho img{
    height: 380px;
}

.trapecio-izquierdo{
    position: absolute;
    margin-top: -5px;
}

.trapecio-izquierdo img{
    height: 380px;
}

.footer{
    margin-top: 60px;
}

.container-footer {
    margin: 0 auto;
    height: 205px;
}