$color-fuente:#fdfdfdfd;
$color-fuente2:#000000ec;
$background-color:#212121;
$color-boton:#c00000;

.fondo-servicio{
    background-color:$color-fuente;
}

.carrusel-contenedor{
    width: 100%;
    margin-top: 215px;
}

.titulo-servicio1{
    margin-top: 75px;
    margin-left: 40px;
}
.texto-4{
    color: $color-fuente2;
}

.informacion-servicio{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;

}
.texto-5{
    color: $color-fuente2;
}


.agenda-tu-visita-servicio{
    text-align: left;
    margin-top: 27px;
    margin-right: 38px;
    margin-left: 40px;
    margin-bottom: 15px;
}
    
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: $color-boton;
    color: $color-fuente;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.boton a { 
    text-decoration: none;
    font-size: 15px;
    color: $color-fuente;
    }
    
.boton:hover {
    background-color: $color-boton;
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.contenedor-boton-servicios{
    padding: 6px auto;
}

.contenedor-servicio1{
    display: flex;
    justify-content: space-between;
}
.servicio1{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 51px;
    padding-left: 20px;
}

.servicio1 h1{
    font-size: 30px;
    font-weight: 500px;
}

.servicio1 p{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 41px;

}

.imagenes{
    display: flex;
}

.imagenes1 img{
    height: 380px;
    position: relative;
}

.fondo{
    z-index: 10;
}

.fondo img{
    position: absolute;
    margin-bottom: 219px;
    margin-top: -374px;
    margin-left: 280px;
    height: 271px;
}

.contenedor-servicio1{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.servicio1{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.servicio1 h1{
    font-size: 20px;
    font-weight: 500px;
    color: black;
}

.servicio1 p{
    font-size: 15px;
    color: black;

}

.imagenes{
    display: flex;
}

.imagenes1 img{
    height: 380px;
}

.fondo{
    z-index: 10;
}

.fondo img{
    position: absolute;
}

.contenedor-servicio2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
.servicio2{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 25px;
}

.servicio2 h1{
    font-size: 20px;
    font-weight: 500px;
    color: black;
}

.servicio2 p{
    font-size: 15px;
    color: black;
    margin-top: 24px;
    margin-bottom: 25px;

}

.imagenes{
    display: flex;
}

.imagenes2 img{
    height: 265px;
    position: relative;
}

.fondo{
    z-index: 10;
}

.fondo img{
    position: absolute;
}


.precios-1{
    border: 1px solid black;
    width: 24%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: -353px;
    margin-left: 260px;
    background: #000000cc;
    height: 233px;
}

.precios-1 h2{
    border-bottom: 2px solid #c00000;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.precios-1 p{
    border-bottom: 1px solid gray;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

.precios-2{
    border: 1px solid black;
    width: 24%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: -249px;
    margin-left: 15px;
    background: rgba(0, 0, 0, 0.8);
    height: 233px;
}

.precios-2 h2{
    border-bottom: 2px solid #c00000;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.precios-2 p{
    border-bottom: 1px solid gray;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

.color-precio{
    color: #c00000;
}